In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [8]:
df = pd.read_csv(r'claims_and_patient.csv')

In [9]:
df.head()

,claim id,claim date,claim line item,claim status,primary plan payment type,secondary plan payment type,tertiary plan payment type,primary plan name,secondary plan name,secondary plan name.1,...,procedure code,treatment code,treatment description,days supply,quantity,patient id,patient year of birth,patient gender source value,product id,product name
0,41439,12/27/18,1,,Medicare,,,MEDICARE MARYLAND (MD),,,...,71046,71046,"RADIOLOGIC EXAMINATION, CHEST; 2 VIEWS",,,122343,1973,M,,
1,98850,9/2/21,1,,Commercial,,,UNH-UNSPECIFIED,,,...,E0260,E0260,"HOSPITAL BED, SEMI-ELECTRIC (HEAD AND FOOT ADJ...",,,146620,1949,F,,
2,74412,3/15/18,3,,Medicare,,,MEDICARE B CALIFORNIA SOUTH (CA),,,...,11056,11056,PARING OR CUTTING OF BENIGN HYPERKERATOTIC LES...,,,150208,0,F,,
3,28608,4/13/19,1,,Medicare Part D,,,UH MED MENERAL,,,...,99213,99213,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,,,172631,1941,F,,
4,28608,4/13/19,4,,Medicare Part D,,,UH MED MENERAL,,,...,J0696,J0696,"INJECTION, CEFTRIAXONE SODIUM, PER 250 MG",,,172631,1941,F,409733801,CEFTRIAXONE SODIUM

In [10]:
df.describe()

           claim id  claim line item     patient id  patient year of birth
count   2200.000000      2200.000000    2200.000000            2200.000000
mean   56335.252727         7.629091  144513.083182            1686.057727
std    26786.013965        11.269434   28041.852752             672.828406
min    10194.000000         0.000000  100525.000000               0.000000
25%    33922.000000         1.000000  123424.000000            1944.000000
50%    57461.000000         3.000000  137748.000000            1949.000000
75%    82179.000000         8.000000  164700.000000            1957.000000
max    99930.000000        65.000000  199968.000000            2022.000000

In [11]:
df.dtypes

claim id                         int64
claim date                      object
claim line item                  int64
claim status                    object
primary plan payment type       object
secondary plan payment type     object
tertiary plan payment type      object
primary plan name               object
secondary plan name             object
secondary plan name.1           object
tertiary plan name              object
primary plan type               object
secondary plan type             object
tertiary plan type              object
reject code                     object
reject reason                   object
source claim type               object
referring provider doctor id    object
rendering provider doctor id    object
diagnosis code 1                object
diagnosis code 2                object
diagnosis code 3                object
diagnosis code 4                object
diagnosis code 5                object
diagnosis code 6                object
diagnosis code 7                object
diagnosis code 8                object
patient oop                     object
buy down                        object
paid by payer                   object
service bill amount             object
service allowed amount          object
out of pocket ask               object
primary payer pay amount        object
secondary payer pay amount      object
tertiary payer pay amount       object
product strength                object
procedure description           object
procedure code                  object
treatment code                  object
treatment description           object
days supply                     object
quantity                        object
patient id                       int64
patient year of birth            int64
patient gender source value     object
product id                      object
product name                    object
dtype: object